<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pension Management Portal</title>
</head>
<body>
    <div class="container" style="padding-top: 2%;margin-top: 2%;">
        <h1 id="title">Pension Management Portal</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="login-box">
                <div class="box-header">
                    <h2>Log In</h2>
                </div>
                <div class="form-group">
                    <input name="username" type="text" class="form-control" placeholder="Username" required="required"
                        autofocus="autofocus" formControlName="userId">
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="Password"
                        required="required" formControlName="password">
                </div>
                <div class="error" *ngIf="invalidCredentials">
                    Invalid User Id/ Password.
                    
                </div>
                <div class="form-group" style="margin-top: 25px; margin-bottom: 100px;">
                    <input id="submitBtn" name="submit" class="btn btn-success btn-outline-white"
                        style="cursor: pointer;" type="submit" value="Login" formmethod="post">
                </div>
            </div>
        </form>
    </div>
    <div class="navbar bg-light footer transparent ">&copy; Copyright 2021
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fab fa-facebook"> </i>
        <i class="fab fa-twitter"> </i>
        <i class="fab fa-google"> </i>
        <i class="fab fa-instagram"> </i>
        <i class="fab fa-youtube"> </i>


    </div>
</body>

<script>
    $(document).ready(function () {
        $('#logo').addClass('animated fadeInDown');
        $("input:text:visible:first").focus();
    });
    $('#username').focus(function () {
        $('label[for="username"]').addClass('selected');
    });
    $('#username').blur(function () {
        $('label[for="username"]').removeClass('selected');
    });
    $('#password').focus(function () {
        $('label[for="password"]').addClass('selected');
    });
    $('#password').blur(function () {
        $('label[for="password"]').removeClass('selected');
    });
</script>

</html>